<div
  class="container-fluid bg-dark mt-2 position-relative"
  style="height: 18rem;"
>
  <!-- Event Image -->
  <div
    class="position-absolute z-1"
    style="width: 25%; height: 130%; right: 10%; top: 50%; scale: 1.1;"
  >
    <img
      src="{{event.imageUrl}}"
      class="img-fluid rounded-3"
      alt="{{event.eventName}}"
      style="max-height: 100%; object-fit: cover"
      />
    <div
      class="d-flex align-items-center justify-content-center mt-3"
      style="height: 20%"
    >
      <button
        class="btn btn-outline-primary btn-sm"
        (click)="decreaseCount()"
        id="minusButton"
      >
        <i class="bi bi-dash"></i>
      </button>
      <span class="px-3 fs-5" id="itemCount">{{ ticketCount }}</span>
      <button
        class="btn btn-outline-primary btn-sm"
        (click)="increaseCount()"
        id="plusButton"
      >
        <i class="bi bi-plus"></i>
      </button>
      <button class="btn btn-primary ms-4" (click)="onBuyTickets()">
        Buy Now
      </button>
    </div>
  </div>

  <!-- Event Details -->
  <div
    class="container text-white position-absolute"
    style="left: 10%; bottom: 10%; width: 80%"
  >
    <h2>{{ event.eventName }}</h2>
    <h6>
      <span>
        <i class="bi bi-calendar-event me-2"></i>
        {{ event.eventDateTime }}
      </span>
      <span class="ms-4">
        <i class="bi bi-geo-alt mx-2"></i>{{ event.eventLocation }}
      </span>
    </h6>
  </div>
</div>

<!-- More Info Section -->
<div class="container mt-4" style="max-width: 80%; min-height: 43vh">
  <h4>More info</h4>
  <h6 class="text-black-50">{{ event.eventDescription }}</h6>
  <h4 class="mt-4">{{ event.eventName }}</h4>
  <h4 class="mt-5">Ticket Policy</h4>
  <div class="text-black-50">
    <h6>
      Only the initial email or SMS provided by MyTicketsLK will be accepted as
      proof of purchase.
    </h6>
    <h6>Tickets will not be redeemed for any forwarded or screenshots.</h6>
    <h6 class="mt-4">
      Valid NIC or Passport will be required if needed during the process of
      redeeming.
    </h6>
  </div>
</div>
