<div
  class="container-fluid bg-dark mt-2 position-relative align-content-center"
  style="height: 18rem"
>
  <div class="container text-white mt-5 z-0 position-absolute" style="margin-left: 12%">
    <h2>Thrimana</h2>
    <h6>
      <span><i class="bi bi-calendar-event me-2"></i> Friday, Nov 29 • 06.30 PM IST</span>
      <span class="ms-4"> <i class="bi bi-geo-alt mx-2"></i>Nelum Pokuna Indoor Theater</span>
    </h6>
  </div>
  <div class="bg-primary position-absolute z-1" style="height: 130%; width: 25%; left: 65%">
    <img src="/assets/images/trimana.jpg" class="card-img-top" alt="trimana"/>
  </div>
</div>

<div class="container mt-4" style="margin-left: 12.5%">
  <h4>More info</h4>
  <h6 class="text-black-50">Varna Entertainment (pvt) Ltd Proudly Presents</h6>
  <h4 class="mt-4">Thrimana - ත්‍රිමාණ </h4>
  <h4 class="mt-5">Ticket Policy</h4>
  <div class="text-black-50">
    <h6>Only the initial email or SMS provided by MyTicketsLK will be accepted as proof of
      purchase,</h6>
    <h6>Tickets will not be redeemed for any forwarded or screenshots.</h6>
    <h6 class="mt-4">Valid NIC or Passport will be required if needed during the process of Redeeming.</h6>
  </div>
</div>
