<nav class="navbar navbar-expand-sm navbar-dark bg-white">
  <div class="container">
    <a class="navbar-brand" href="javascript:void(0)" routerLink="/home">
      <img
        ngSrc="/assets/images/logo.png"
        alt="logo"
        style="scale: 0.6"
        height="57"
        width="436"
    /></a>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
      </ul>

      @if (loggedUser.email == '') {
      <form class="d-flex">
        <button
          class="btn btn-light me-4"
          type="button"
          (click)="openRegister()"
        >
          Register
        </button>
        <button class="btn btn-primary" type="button" (click)="openLogin()">
          <i class="bi bi-person-circle me-2"></i>Sign in
        </button>
      </form>

      } @else {
      <form class="d-flex nav-item dropdown">
        <button class="btn btn-primary" type="button" (click)="onLogout()">
          <i class="bi bi-person-circle me-2"></i>Logout
        </button>
      </form>
      }
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="modal" id="registerModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button
          type="button"
          class="btn-close"
          (click)="closeRegister()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label>Name</label>
            <input
              type="text"
              [(ngModel)]="registerObj.username"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Email</label>
            <input
              type="email"
              [(ngModel)]="registerObj.email"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Password</label>
            <input
              type="password"
              [(ngModel)]="registerObj.password"
              class="form-control"
              required
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeRegister()">
          Close
        </button>
        <button type="button" class="btn btn-success" (click)="onRegister()">
          Register
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="loginModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="btn-close" (click)="closeLogin()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              required
              [(ngModel)]="loginObj.email"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Password</label>
            <input
              type="email"
              class="form-control"
              required
              [(ngModel)]="loginObj.password"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeLogin()">
          Close
        </button>
        <button type="button" class="btn btn-success" (click)="onLogin()">
          Login
        </button>
      </div>
    </div>
  </div>
</div>
