<div
  class="container-fluid bg-primary mt-2 position-relative align-content-center"
  style="height: 14rem"
>
  <div style="margin-left: 13%">
    <div class="text-white">
      <h1 class="fw-bold mb-0">Let's Book Your Ticket</h1>
      <h6 class="fw-medium">Discover your favorite entertainment right here</h6>
    </div>
    <form class="d-flex" role="search" style="width: 42%">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search Event"
        aria-label="Search"
      />
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="title fs-2 mt-2" style="margin-left: 13%">Events</div>

<div class="cards mt-3 d-lg-inline-flex" style="margin-left: 13%">
  <div class="card" style="width: 18rem">
    <img src="/assets/images/trimana.jpg" class="card-img-top" alt="trimana" />
    <div class="card-body">
      <h5 class="card-title">Thrimana</h5>
      <p class="card-text fw-light mb-1">
        <i class="bi bi-calendar-event"></i> Nov 29, 2024 • 06.30 PM IST
      </p>
      <p class="card-text fw-light mb-1">
        <i class="bi bi-geo-alt"></i> Nelum Pokuna Indoor Theater
      </p>
      <p class="card-text">
        <span class="text-primary fw-bold">2,000 LKR </span
        ><span class="fw-light">UPWARDS</span>
      </p>
    </div>
    <a href="#" class="btn btn-primary mx-0">Buy Tickets</a>
  </div>
</div>
